/*
Se definen la propiedades de los estilos
Prioridad 3: en archivos CSS
aplican despues de los archivo del documento html
*/

body{
    background: #c0c0c0;
    color: #000080;
    font-family: "Century Gothic";
}