body{
    background: #256f5b;
    font-family: "Arial Narrow";
    color: white;
}

h1{
    font-size: xx-large;
    font-style: italic;
}

p{
    font-weight: bolder;
    background: #468b78;
}
/*
Agregamos una neuva clase aplicable a cualquier elemento html
*/
.resaltado{
    background: #81051d;
    font-weight: bold;
}

.nuevaClaseCss{
    font-family: "Comic Sans MS";
    font-weight: bold;
    background: #4f0010;
}