<div #div2 class="body">
    <h1 class="web-title">Platzi Wordle</h1>
    <div class="letters-container">
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div #div class="letter-row">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
    </div>
    <div class="div message-container">
        <p #message class="message-text"> </p>
    </div>
    <div class="restart-container">
        <button #restartButton class="restart-button" disabled>Reinicar</button>
    </div>
</div>