#contenedor div{
   background: aqua;
   padding: 10px;
   width: 40px;
   margin: 10px;
}

#contenedor{
   width: 500px;
   display: flex;
   flex-direction: column;

}

#uno{
   -moz-box-flex: 1;
   -webkit-box-flex: 1;
}

#dos{
   -moz-box-flex: 1;
   -webkit-box-flex: 1;
}

#tres{
   -moz-box-flex: 1;
   -webkit-box-flex: 1;
}

#cuatro{
   -moz-box-flex: 1;
   -webkit-box-flex: 1;
}

#cinco{
   -moz-box-flex: 1;
   -webkit-box-flex: 1;
}